$_color: (
    'black': #333,
    'white': white,
    danger: #ff4e4e,
    oldprimary: #46c37b,
    newprimary: #2588ff,
    regular: #666,
    secondary: #999,
    666: #666,
    999: #999,
    333: #333,
    fff: #ffffff,
    primary: #0a84ff,
    000: #000,
    f5: #f5f5f5,
    f6: #f6f5f6,
    f7: #f7f7f7,
    f8: #f8f8f8,
    3a: #3a3a3a,
    9b: #9b9b9b,
    ccc: #cccccc,
    ff38: #ff3838,
    ffa6: #ffffffa6,
    f2: #f2f2f2,
    ff7700: #ff7700,
    general: #03c89d,
    a6: #a6a6a6,
    808080: #808080,
    d9d9d9: #d9d9d9,
    636363: #636363,
    383838: #383838,
    6e: #6e6e6e,
    ff704d: #ff704d,
    c54c37: #c54c37,
    f6f6f6: #f6f6f6,
    8b8b8b: #8b8b8b,
    9d9d9d: #9d9d9d,
    545454: #545454,
    fafafa: #fafafa,
    555555: #555555,
    b2b2b2: #b2b2b2,
    58c182: #58c182,
    c5e3d9: #c5e3d9,
    b6d9cb: #b6d9cb,
    272a34: #272a34,
    2f343c: #2f343c,
    fceeea: #fceeea,
    e4e4e4: #e4e4e4,
    ffefe8: #ffefe8,
    e26c52:#e26c52,
    f2f3f5: #f2f3f5,
    d45a4f: #d45a4f,
    f0933c:#f0933c
);

$_text-color: $_color;
$_bg-color: $_color;

$_border-color: (
    'black': black,
    'gray': #ebedf0,
    'white': white,
    danger: #ff4e4e,
    primary: #2588ff,
    e5: #e5e5e5,
    f5: #f5f5f5,
    bf: #bfbfbf,
    c8: #c8c8c8,
    c54c37: #c54c37,
    ff791a: #ff791a,
    ffa01a: #ffa01a
);
